@basePixel: 6, 8, 10, 12, 14, 16, 18, 20, 26;

/*
* @description: margin-right
* @eg: .mr8 { margin-right: 8px; }
*/
each(@basePixel, {
  .mr@{value} {
    margin-right: unit(@value, px);
  }
})

/* ----------- */
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #f1f2f9;
}

p {
  margin: 0;
}

// 副文本样式
.text-extra {
  line-height: 1.4;
  color: #999;
}

.text-base {
  font-size: 18px;
  font-weight: normal;
}

.article-title {
  font-size: 20px;
}

.cursor {
  cursor: pointer;
}

/* 覆盖卡片样式 */
.web-card.t-card {
  border-radius: @base-border-radius;
  box-shadow: @base-box-shadow;
}