html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #f1f2f9;
}

@basePixel: 6, 8, 10, 12, 14, 16, 18, 20, 26;

/*
* @description: padding-left
* @eg: .pl-8 { padding-left: 8px; }
*/
each(@basePixel, {
  .pl-@{value} {
    padding-left: unit(@value, px);
  }
})

/* 覆盖卡片样式 */
.web-card.t-card {
  border-radius: @base-border-radius;
  box-shadow: @base-box-shadow;
}