/* common variable use uniform prefix: base-xxx */
@base-box-shadow: 0 2px 15px rgb(0 0 0 / 2%);
@base-border-radius: 4px;
@base-border-radius-lg: 8px;
@base-bg-white: #f9f9f9;
@base-bg2: #f1f2f9;

@base-color-999: #999;
@base-description-color: #a0a0a0;

/* business variable */
// header
@header-height: 50px;