/* common variable use uniform prefix: base-xxx */
@base-box-shadow: 0 2px 15px rgb(0 0 0 / 2%);
@base-border-radius: 3px;
@base-bg-white: #f9f9f9;

/* business variable */
// header
@header-height: 50px;
